# file header
snippet hdr
	/**
	 * ${1:`expand('%:t')`} - ${2}
	 *
	 * Copyright (c) `strftime("%Y")`-`strftime("%Y")`, ${3:`g:snips_copyright`}
	 * Change Logs:
	 * Date           Author        Notes
	 * `strftime("%Y-%m-%d")`     ${4:`g:snips_author`}     ${5:first version `strftime("%Y%m%d")`.1.1}
	 *
	 */
	${6}
# comments
snippet comm
	/*
	 * ${1}
	 */
# include file
snippet Inc
	#include <${1:stdio}.h>${2}
snippet inc
	#include "${1:`Filename("$1")`}.h"${2}
# macro defines
snippet def
	#define ${1} $2
snippet ifd
	#ifdef ${1}
	#endif
snippet ifn
	#ifndef ${1}
	#endif
snippet once
	#ifndef ${1:`toupper(Filename('', 'UNTITLED').'_H')`}
	#define $1

	${2}

	#endif /* $1 */
# condition
snippet if
	if (${1})
	{
		${2}
	}
snippet el
	else {
		${1}
	}
snippet else
	else
	{
		${1:/* code */}
	}
# loop
snippet do
	do {
		${2}
	} while (${1});
snippet while
	while (${1}) {
		${2}
	}
snippet for
	for (size_t ${1:i} = 0; $1 < ${2}; $1++) {
		${4}
	}
# structure
snippet struct
	typedef struct ${1:mystruct}
	{
		${3:/* member */}
	} ${2:$1_s};
snippet union
	typedef union ${1:myunion}
	{
		${3:/* member */}
	} ${2:$1_u};
snippet enum
	typedef enum ${1:myenum}
	{
		${3:/* member */}
	} ${2:$1_e};
# main()
snippet main
	int main(int argc, const char *argv[])
	{
		${1}
		return 0;
	}
# sizeof()
snippet sizeof
	sizeof(${1})

snippet printf
    printf("lip: ${1:%s}${2}\n", ${3:__FUNCTION__}${4});

snippet printf__
    printf("lip: [%s, %d]${1}\n", __FUNCTION__, __LINE__${2});${3}
